.areadeluta{
    display: flex;
    gap: 20px;
}

#char,
#monster{
    flex: 1;
}

.lifebar{
    height: 20px;
    border: 1px solid rgb(58, 47, 47);
    border-radius: 10px;

}

.lifebar .bar{
    height: inherit;
    background-color: red;
    border-radius: 10px;
}
.log{
    border: 1px solid black;
    height: 200px;
    overflow-y: scroll;
}