body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 71, 71);
    font-size: 12px;
    font-weight: 700;
    margin: auto;
}
#luu{
    background-color: green;
    height: 100px;
    width: 200px;
    font-size: medium;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    
}
.footer{

    height: 250px;
    width:100%;
    background-color: rgb(48, 42, 42);
}
.footer > p{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(66, 66, 163);
}
#area{
    margin: auto;
    text-align: center;
}

@media( max-width: 900px){
    body{
        background-color: gray;
    }
}